<h1>Hi {{name}}!</h1>
<div id="new-post-container">
    <h2>Your posts:</h2>
    <button id="new-post">New Post +</button>
</div>

<div id="form-container">
  <form id="new-post-form">
    <div class='input-label'>
      <label for="title">Title:</label>
      <input type="text" id="title">
    </div>
    <div class='input-label'>
      <label for="content">Content:</label>
      <textarea id="content" cols="30" rows="5"></textarea>
    </div>
    <div class='input-label'>
      <label for="code">Code (optional):</label>
      <textarea id="code" cols="30" rows="5"></textarea>
    </div>
    <div class='controls'>
      <button class="submit-post">Submit</button>
      <button class="cancel-post">Cancel</button>
    </div>
  </form>
</div>
<section>
{{#each posts as |post|}}
    <div class='post-card'>
      <header>
        <h3>{{post.title}}</h3>
      </header>
      <div class='card-body'>
        <p>{{post.content}}</p>
        {{#if post.code}}
          <pre><code>{{post.code}}</code></pre>
        {{/if}}
      </div>
      <footer>
        <div>
          <button class='replies-button'>View
            {{post.comments.length}}
            Replies</button>
          <button class='hide-replies'>Hide Replies</button>
          {{#if ../logged_in}}
          <button class="reply">Reply</button>
          {{else}}
          <a href="/login"><button>Reply</button></a>
          {{/if}}
        </div>
        <div class='sign-off'>
          <p class="op">{{format_date post.date_created}}</p>
          <button data-id="{{post.id}}" class="delete-post">Delete</button>
        </div>
      </footer>
      <div class='comment-container'>
        {{#each post.comments as |comment|}}
          <div class='comment'>
            <p class='comment-content'>{{comment.content}}</p>
            <p class='comment-sign-off'>~{{comment.user.name}}</p>
          </div>
        {{/each}}
      </div>
      <div class='reply-container'>
        <textarea id="{{post.id}}" cols='30' rows='5'></textarea>
        <div class='controls'>
          <button data-id="{{post.id}}" class="submit-reply">Submit</button>
          <button class="cancel-reply">Cancel</button>
        </div>
      </div>
    </div>
{{/each}}
</section>

<script src='./js/homepage.js'></script>
<script src='./js/dashboard.js'></script>