<h1><img class="title-images" src="./images/guns.png" alt="guns image"> GUNZ, MONEY 'N' TECH BLOGZ <img class="title-images" src="./images/guns.png" alt="guns image"></h1>
<h2>Deez Posts be Illin':</h2>
<hr>
<section>
  {{#each posts as |post|}}
    <div class='post-card'>
      <header>
        <h3>{{post.title}}</h3>
      </header>
      <div class='card-body'>
        <p>{{post.content}}</p>
        {{#if post.code}}
          <pre><code>{{post.code}}</code></pre>
        {{/if}}
      </div>
      <footer>
        <div>
          <button class='replies-button'>View
            {{post.comments.length}}
            Replies</button>
          <button class='hide-replies'>Hide Replies</button>
          {{#if ../logged_in}}
          <button class="reply">Reply</button>
          {{else}}
          <a href="/login"><button>Reply</button></a>
          {{/if}}
        </div>
        <div class='sign-off'>
          <p class='op'>{{format_date post.date_created}} ~{{post.user.name}}</p>
        </div>
      </footer>
      <div class='comment-container'>
        {{#each post.comments as |comment|}}
          <div class='comment'>
            <p class='comment-content'>{{comment.content}}</p>
            {{#if (eq ../../userId comment.user_id) }}
            <div class="your-comment">
            <p class='comment-sign-off'>{{format_date comment.date_created}} ~You</p>
            <button data-id="{{comment.id}}" class="delete-comment">Delete</button>
            </div>
            {{else}}
            <p class='comment-sign-off'>{{format_date comment.date_created}} ~{{comment.user.name}}</p>
            {{/if}}
          </div>
        {{/each}}
      </div>
      <div class='reply-container'>
        <textarea  cols='30' rows='5'></textarea>
        <div class='controls'>
          <button data-id="{{post.id}}" class="submit-reply">Submit</button>
          <button class="cancel-reply">Cancel</button>
        </div>
      </div>
    </div>
  {{/each}}
</section>

<script src='./js/homepage.js'></script>
<script src="./js/comments.js"></script>